/* src/utils/AboutUs.css */
.aboutus-container {
  margin: 0 2%;
  padding: 2%;
}

.aboutus-container p,
.aboutus-container li {
  text-align: justify;
}

.aboutus-main {
  padding: 1%;
  border-radius: 15px;
  background-color: rgba(245, 245, 220, 0.579);
}

.aboutus-section {
  margin: 2%;
  padding: 2%;
  border-radius: 15px;
  background-color: #b5dab16a;
}

.aboutus-section ul {
  padding-left: 20px;
}

.aboutus-section li {
  text-align: justify;
  margin-bottom: 10px;
}