
/* BotRecomendaciones.css */

/* Estilos generales para el contenedor principal */
#bot-recomendaciones-wrapper {
    display: flex;
    font-family: Arial, sans-serif;
    color: #333;
    position: relative;
}

#sidebar {
    width: 300px;
    max-width: 300px;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
    transition: transform 0.3s ease;
    overflow-y: auto;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

#sidebar h4{
    padding: 10px;
}

#sidebar.collapsed {
    transform: translateX(-100%);
}

#sidebar.expanded {
    transform: translateX(0);
}

#sidebar h4 {
    color: seagreen;
    margin-bottom: 20px;
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

#sidebar ul li {
    cursor: pointer;
    background-color: #eaf2e3;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#sidebar ul li:hover {
    background-color: rgba(37, 190, 103, 0.245);
    color: rgba(0, 0, 0, 0.597);
}

#sidebar ul li strong {
    display: block;
}

#sidebar ul ul {
    background-color: #f0f4f7;
    border-radius: 5px;
}

#sidebar ul ul li {
    background-color: #ffffff;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

#sidebar ul ul li:hover {
    background-color: #d4e4d3;
}

#bot-recomendaciones-container {
    width: 100%;
    padding: 15px;
}

#bot-recomendaciones-container h3 {
    color: seagreen;
    margin-top: 20px;
}

#bot-recomendaciones-container h4 {
    color: seagreen;
    margin-top: 15px;
}

#bot-recomendaciones-container h5 {
    color: seagreen;
    margin-top: 10px;
}

#bot-recomendaciones-container p {
    margin-bottom: 10px;
}

/*-------------------------*/










#sidebar .recomendaciones-por-hora {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#sidebar .recomendacion {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
} 


#sidebar .recomendacion:hover {
    background-color: #e9ecef;
}





#selection-ingredientes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f0f4f7;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
}

#bloque-busqueda-ingredientes{
    padding: 2%;
}

#bloque-ingredientes-seleccionados {
    padding: 2%;
}



















/*-------------------------*/

#busqueda-ingredientes {
    margin-bottom: 20px;
}

#busqueda-ingredientes input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid seagreen;
    border-radius: 5px;
}

#lista-ingredientes {
    list-style: none;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    background-color: #fff;
}

#lista-ingredientes li {
    background-color: #acd7f76e;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#lista-ingredientes li:hover {
    background-color: seagreen;
    color: white;
}

#ingredientes-seleccionados {
    width: 100%;
}

#ingredientes-seleccionados li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #eaf2e3;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#ingredientes-seleccionados li:hover {
    background-color: rgba(37, 190, 103, 0.245);
}

.ingrediente-nombre {
    flex: 2;
    text-align: left;
}

.ingrediente-cantidad {
    flex: 1;
    text-align: center;
}

#ingredientes-seleccionados input {
    width: 100px;
    padding: 5px;
    border: 1px solid seagreen;
    border-radius: 5px;
    text-align: center;
}

/*
#ingredientes-seleccionados input {
    margin-left: 10px;
    border: 1px solid seagreen;
    border-radius: 5px;
}*/

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid seagreen;
    border-radius: 5px;
}

button {
    background-color: seagreen;
    color: white;
    padding: 10px 20px;
    margin: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #1e824c;
}

#recomendaciones-section {
    margin-top: 20px;
}

#recomendaciones-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.recomendacion-card {
    flex: 1 1 calc(33% - 20px);
    background-color: #f0f4f7;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.recomendacion-card h4 {
    color: seagreen;
    margin-top: 0;
}

.recomendacion-card p {
    margin-bottom: 5px;
}

.recomendacion-card ul {
    list-style: none;
    padding: 0;
}

.recomendacion-card ul li {
    margin-bottom: 5px;
}
.recipe-general-information{
    margin-right: 5px;
}
/* CSS for the remove ingredient button */
.remove-ingredient {
    margin-left: 10px;
    color: red;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s;
}

.remove-ingredient:hover {
    color: darkred;
}

.button-obtain-recomendations {
    margin: 2% 0;
    border-radius: 8px;
}

.toggle-sidebar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background-color: seagreen;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    transition: left 0.3s ease;
    z-index: 2;
}

.toggle-sidebar.collapsed {
    left: 0;
}

.toggle-sidebar.expanded {
    left: 300px;
}
