/* src/utils/ComoFunciona.css */
.comofunciona-container {
  display: flex;
  flex-direction: column;
}

.carousel-content {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
}

.carousel-content h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.carousel-content p,
.carousel-content ul {
  margin-bottom: 20px;
  color: #555;
}

.carousel-content ul {
  list-style-type: none;
  padding-left: 0;
}

.carousel-content li {
  margin-bottom: 10px;
}

.carousel-content strong {
  color: #6e6666;
}

.carousel-image {
  max-width: 80%;
  max-height: 50%;
  margin: 20px 0;
  position: relative;
}

/* Carousel buttons styling */
.carousel-button-como-funciona {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(46, 139, 86, 0.827);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

#btn-prev-como-funciona {
  left: 5%;
}

#btn-next-como-funciona {
  right: 5%;
}

/* Media Queries */
@media (max-width: 1250px) {
  .carousel-button-como-funciona {
    top: 65%;
  }

  #btn-prev-como-funciona {
    left: 10%;
  }

  #btn-next-como-funciona {
    right: 10%;
  }
}

@media (max-width: 768px) {
  .carousel-button-como-funciona {
    top: 55%;
  }

  #btn-prev-como-funciona {
    left: 8%;
  }

  #btn-next-como-funciona {
    right: 8%;
  }
}

@media (max-width: 500px) {
  .carousel-button-como-funciona {
    top: 40%;
  }

  #btn-prev-como-funciona {
    left: 5%;
  }

  #btn-next-como-funciona {
    right: 5%;
  }
}

@media (max-width: 350px) {
  .carousel-button-como-funciona {
    top: 35%;
  }

  #btn-prev-como-funciona {
    left: 1%;
  }

  #btn-next-como-funciona {
    right: 1%;
  }
}

.newsletter-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.newsletter-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.newsletter-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.newsletter-container input[type="email"],
.newsletter-container textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.newsletter-container input[type="email"]::placeholder,
.newsletter-container textarea::placeholder {
  color: #aaa;
}

.newsletter-container textarea {
  resize: vertical;
  min-height: 100px;
}

.newsletter-container button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.newsletter-container button:hover {
  background-color: #218838;
}

.newsletter-container p {
  margin-top: 20px;
  font-size: 16px;
  color: #555;
}