/* src/utils/ComoFunciona.css */
.comofunciona-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .carousel-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
  }
  
  .carousel-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .carousel-content p,
  .carousel-content ul {
    margin-bottom: 20px;
    color: #555;
  }
  
  .carousel-content ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .carousel-content li {
    margin-bottom: 10px;
  }
  
  .carousel-content strong {
    color: #6e6666;
  }
  
  .carousel-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 20px 0;
  }
  

  .carousel-control-prev,
  .carousel-control-next {
    filter: invert(1); /* Cambia el color de los iconos si es necesario */
  }
  /* Estilos para los controles del carrusel */
.carousel-control-prev,
.carousel-control-next {
  width: 5%; /* Ajusta el tamaño si es necesario */
  height: 100%; /* Ajusta la altura */
  top: 90%;
  transform: translateY(-50%);
  background-size: 20px 20px; /* Ajusta el tamaño de las flechitas */
}