#management-users-wrapper {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    color: #333;
    padding: 20px;
    background-color: #f8f9fa35;
}

#management-users-title {
    color: seagreen;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

#search-container-administrar-usuarios {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

#search-input-administrar-usuarios,
#search-select-administrar-usuarios,
#search-button-administrar-usuarios,
#reset-button-administrar-usuarios {
    flex: 1;
    min-width: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
}

#search-button-administrar-usuarios {
    background-color: seagreen;
    color: white;
    border: none;
    cursor: pointer;
}

#reset-button-administrar-usuarios {
    background-color: #e7e7a0;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}

#management-users-table-container {
    width: 100%;
    overflow-x: auto;
    position: relative;
    margin-bottom: 20px;
}

#management-users-table-container::-webkit-scrollbar {
    height: 12px;
}

#management-users-table-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#management-users-table-container::-webkit-scrollbar-thumb {
    background: seagreen;
    border-radius: 6px;
    border: 3px solid #f1f1f1;
}

#management-users-table-container::-webkit-scrollbar-thumb:hover {
    background: #1e824c;
}

#management-users-table {
    width: 100%;
    min-width: 600px;
    border-collapse: collapse;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#management-users-table th,
#management-users-table td {
    padding: 10px;
    border: 1px solid #dee2e6;
    text-align: left;
}

#management-users-table th {
    background-color: #eaf2e3;
    color: seagreen;
}

#management-users-table td.td-editable input,
#management-users-table td.td-editable select {
    width: 100%;
    padding: 5px;
    border: 1px solid seagreen;
    border-radius: 5px;
}

#management-users-table td.td-editable input[type="text"],
#management-users-table td.td-editable select {
    background-color: #ffffff;
}

#management-users-table td.td-editable input[type="text"]:hover,
#management-users-table td.td-editable select:hover {
    background-color: #e9ecef;
}

#management-users-table button {
    color: white;
    padding: 5px 10px;
    margin: 2px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-mu-editar {
    background-color: rgba(46, 139, 86, 0.776);
}

.btn-mu-eliminar {
    background-color: #e74d3cbe;
}

#management-users-table .btn-mu-editar:hover {
    background-color: #1e824c;
}

#management-users-table .btn-mu-eliminar:hover {
    background-color: #e74c3c;
}

#management-users-table tbody tr:hover {
    background-color: #b5dab18e;
}

#management-users-table th:nth-child(3),
#management-users-table td:nth-child(3) {
    position: sticky;
    left: 0;
    background-color: #eaf2e3;
    z-index: 2;
}

#pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-button-administrar-usuarios {
    margin: 0 5px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    background-color: #eaf2e3;
    color: seagreen;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.pagination-button-active {
    background-color: seagreen;
    color: white;
}

.pagination-button:hover {
    background-color: #b5dab18e;
}

#sortable-header {
    cursor: pointer;
}

#sortable-header:hover {
    background-color: #b5dab18e;
}

#nuevo-usuario-form-container {
    margin-top: 20px;
}

#nuevo-usuario-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#nuevo-usuario-form input,
#nuevo-usuario-form select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#btn-crear-usuario {
    padding: 10px 20px;
    background-color: seagreen;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#btn-crear-usuario:hover {
    background-color: #1e824c;
}

@media (max-width: 768px) {
    #management-users-table {
        min-width: 600px;
    }

    #search-input-administrar-usuarios,
    #search-select-administrar-usuarios,
    #search-button-administrar-usuarios,
    #reset-button-administrar-usuarios {
        flex: 100%;
        margin-bottom: 10px;
    }

    #search-button-administrar-usuarios,
    #reset-button-administrar-usuarios {
        margin-top: 10px;
    }
}