#management-recetas-wrapper {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    color: #333;
    padding: 20px;
    background-color: #f8f9fa35;
}

#management-recetas-title {
    color: seagreen;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

#search-container-administrar-recetas {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

#search-input-recetas,
#search-select-recetas,
#search-comparison-recetas,
#search-parametro-recetas,
#search-button-administrar-recetas,
#reset-button-administrar-recetas {
    flex: 1;
    min-width: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
}

#search-button-administrar-recetas {
    background-color: seagreen;
    color: white;
    border: none;
    cursor: pointer;
}

#reset-button-administrar-recetas {
    background-color: #e7e7a0;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}

#management-recetas-table-container {
    width: 100%;
    overflow-x: auto;
    position: relative;
    margin-bottom: 20px;
}

#management-recetas-table-container::-webkit-scrollbar {
    height: 12px;
}

#management-recetas-table-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#management-recetas-table-container::-webkit-scrollbar-thumb {
    background: seagreen;
    border-radius: 6px;
    border: 3px solid #f1f1f1;
}

#management-recetas-table-container::-webkit-scrollbar-thumb:hover {
    background: #1e824c;
}

#management-recetas-table {
    width: 100%;
    min-width: 600px;
    border-collapse: collapse;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#management-recetas-table th,
#management-recetas-table td {
    padding: 10px;
    border: 1px solid #dee2e6;
    text-align: left;
}

#management-recetas-table th {
    background-color: #eaf2e3;
    color: seagreen;
}

#management-recetas-table td.td-editable input,
#management-recetas-table td.td-editable select {
    width: 100%;
    padding: 5px;
    border: 1px solid seagreen;
    border-radius: 5px;
}

#management-recetas-table td.td-editable input[type="text"],
#management-recetas-table td.td-editable select {
    background-color: #ffffff;
}

#management-recetas-table td.td-editable input[type="text"]:hover,
#management-recetas-table td.td-editable select:hover {
    background-color: #e9ecef;
}

#management-recetas-table button {
    color: white;
    padding: 5px 10px;
    margin: 2px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-rec-editar {
    background-color: rgba(46, 139, 86, 0.776);
}

.btn-rec-eliminar {
    background-color: #e74d3cbe;
}

#management-recetas-table .btn-rec-editar:hover {
    background-color: #1e824c;
}

#management-recetas-table .btn-rec-eliminar:hover {
    background-color: #e74c3c;
}

#management-recetas-table tbody tr:hover {
    background-color: #b5dab18e;
}

#management-recetas-table th:nth-child(1),
#management-recetas-table td:nth-child(1) {
    position: sticky;
    left: 0;
    background-color: #eaf2e3;
    z-index: 2;
}

#pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-button-administrar-recetas {
    margin: 0 5px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    background-color: #eaf2e3;
    color: seagreen;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.pagination-button-active {
    background-color: seagreen;
    color: white;
}

.pagination-button:hover {
    background-color: #b5dab18e;
}

#sortable-header {
    cursor: pointer;
}

#sortable-header:hover {
    background-color: #b5dab18e;
}

#editar-receta-form-container {
    margin-top: 20px;
}

#editar-receta-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#editar-receta-form input,
#editar-receta-form select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#editar-receta-form button {
    padding: 10px 20px;
    background-color: seagreen;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#editar-receta-form button:hover {
    background-color: #1e824c;
}

#crear-receta-form-container {
    margin-top: 20px;
}

#crear-receta-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#crear-receta-form input,
#crear-receta-form select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#crear-receta-form button {
    padding: 10px 20px;
    background-color: seagreen;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#crear-receta-form button:hover {
    background-color: #1e824c;
}

@media (max-width: 768px) {
    #management-recetas-table {
        min-width: 600px;
    }

    #search-select-recetas,
    #search-comparison-recetas,
    #search-parametro-recetas,
    #search-input-recetas,
    #search-button-administrar-recetas,
    #reset-button-administrar-recetas {
        flex: 100%;
        margin-bottom: 10px;
    }

    #search-button-administrar-recetas,
    #reset-button-administrar-recetas {
        margin-top: 10px;
    }
}