.recetas-clientes-container {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    margin: 1%;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

.recetas-clientes-container h2 {
    color: #343a40;
    margin-bottom: 20px;
}

/* Styling for the carousel content */
#cliente-recetas-carousel-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    padding-top: 10px;
}

#cliente-recetas-carousel-content ul {
    list-style-type: none;
    padding: 0;
    color: #6c757d;
}

#cliente-recetas-carousel-content ul li {
    margin-bottom: 5px;
}

#cliente-recetas-carousel-content h4 {
    color: #343a40;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Styling for the carousel image */
#cliente-recetas-image {
    width: 60%;
    border-radius: 10px;
}

/* Carousel buttons styling */
.carousel-button {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    background-color: rgba(46, 139, 86, 0.827);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

#custom-prev-button {
    left: 5%;
}

#custom-next-button {
    right: 5%;
}

/* Media Queries */
@media (max-width: 1024px) {
    .carousel-button {
        top: 40%;
    }

    #btn-left {
        left: 20%;
    }

    #btn-right {
        right: 20%;
    }
}

@media (max-width: 850px) {
    .carousel-button {
        top: 40%;
    }

    #btn-left {
        left: 18%;
    }

    #btn-right {
        right: 18%;
    }
}

@media (max-width: 760px) {
    .carousel-button {
        top: 40%;
    }

    #btn-left {
        left: 10%;
    }

    #btn-right {
        right: 10%;
    }
}

@media (max-width: 500px) {
    .carousel-button {
        top: 36%;
    }

    #btn-left {
        left: 12%;
    }

    #btn-right {
        right: 12%;
    }
}

@media (max-width: 350px) {
    .carousel-button {
        top: 32%;
    }

    #btn-left {
        left: 10%;
    }

    #btn-right {
        right: 10%;
    }

}