/* src/utils/RegisterClient.css */

.register-client-box {
  width: 90%;
  /* Ajusta el ancho para pantallas pequeñas */
  max-width: 400px;
  /* Limita el ancho máximo */
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.register-client-box h1 {
  font-size: 24px;
  text-align: center;
}

.register-client-box form {
  margin-top: 20px;
  font-size: 16px;
}

.register-client-box form div {
  margin-bottom: 15px;
}

.register-client-box form label {
  display: block;
  margin-bottom: 5px;
}

.register-client-box form input {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  /* Agrega margen entre campos */
}

.register-client-box button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 3px;
  background-color: #28a745;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.register-client-box button:hover {
  background-color: #218838;
}

.error-message {
  color: #dc3545;
  font-size: 14px;
  text-align: center;
  margin-bottom: 15px;
}

.success-message {
  color: #28a745;
  font-size: 14px;
  text-align: center;
  margin-bottom: 15px;
}

/* Media queries para dispositivos pequeños */
@media (max-width: 768px) {
  .register-client-box {
    width: 100%;
    max-width: 90%;
  }
}

/* Media queries para dispositivos muy pequeños */
@media (max-width: 480px) {
  .register-client-box h1 {
    font-size: 20px;
  }

  .register-client-box form input {
    padding: 8px;
  }

  .register-client-box button {
    font-size: 14px;
  }
}